<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form class="col-md-6" th:action="@{/api/auth/user/profile/{id}(id=${user.id})}" th:object="${user}" method="post">
    <div class="card mb-4">
        <h5 class="card-header">Form Controls</h5>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input
                    type="text"
                    class="form-control"
                    th:field="*{username}"
                    id="username"
                    th:placeholder="${user.username}"
            />
            <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input
                    type="email"
                    class="form-control"
                    th:field="*{email}"
                    id="email"
                    th:placeholder="${user.email}"
            />
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Passwoed</label>
            <input
                    type="password"
                    class="form-control"
                    th:field="*{password}"
                    id="password"
                    th:placeholder="${user.password}"
            />
            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
        </div>
        </div>
    </div>
</form>

</body>
</html>